@import url('https://fonts.googleapis.com/css?family=Lobster');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lobster';
  line-height: 1.4;
}

h1{
  font-size: 2.5rem;
}

p {
  font-family: 'Helvetica';
  padding-top: 0.5rem;
}
